<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tipo Sombrio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab5</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/197.png" />
    <ion-card-header>
      <ion-card-title>Umbreon</ion-card-title>
      <ion-card-subtitle>Nº 0197</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Umbreon é conhecido por sua habilidade de se camuflar à noite, tornando-se quase invisível nas sombras.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/248.png" />
    <ion-card-header>
      <ion-card-title>Tyranitar</ion-card-title>
      <ion-card-subtitle>Nº 0248</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tyranitar é um dos Pokémon mais poderosos do tipo Sombrio, com uma força descomunal e uma defesa impenetrável.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/571.png" />
    <ion-card-header>
      <ion-card-title>Zoroark</ion-card-title>
      <ion-card-subtitle>Nº 0571</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Zoroark é mestre em ilusões, criando cópias de si mesmo para confundir os inimigos durante o combate.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/430.png" />
    <ion-card-header>
      <ion-card-title>Honchkrow</ion-card-title>
      <ion-card-subtitle>Nº 0430</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Honchkrow é um Pokémon de personalidade forte e liderança, conhecido por comandar bandos de Murkrows.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/302.png" />
    <ion-card-header>
      <ion-card-title>Sableye</ion-card-title>
      <ion-card-subtitle>Nº 0302</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Sableye se alimenta de gemas e pedras preciosas, e é resistente a ataques psíquicos, graças a sua natureza sombria.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/491.png" />
    <ion-card-header>
      <ion-card-title>Darkrai</ion-card-title>
      <ion-card-subtitle>Nº 0491</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Darkrai é o mestre dos pesadelos, capaz de fazer suas vítimas caírem em sono profundo e os atormentar com pesadelos.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/198.png" />
    <ion-card-header>
      <ion-card-title>Murkrow</ion-card-title>
      <ion-card-subtitle>Nº 0198</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Murkrow é um Pokémon travesso que gosta de brincar com seus inimigos, confundindo-os com sua velocidade e astúcia.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/625.png" />
    <ion-card-header>
      <ion-card-title>Bisharp</ion-card-title>
      <ion-card-subtitle>Nº 0625</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Bisharp é um estrategista implacável, sempre calculando seus ataques e ordens aos seus subordinados Pawniards.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/560.png" />
    <ion-card-header>
      <ion-card-title>Scrafty</ion-card-title>
      <ion-card-subtitle>Nº 0560</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Scrafty é um Pokémon determinado e protetor, conhecido por suas táticas e sua habilidade de lidar com situações difíceis.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/275.png" />
    <ion-card-header>
      <ion-card-title>Shiftry</ion-card-title>
      <ion-card-subtitle>Nº 0275</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Shiftry é um Pokémon astuto, que usa ventos fortes para se movimentar rapidamente e confundir seus adversários.
    </ion-card-content>
</ion-card>


</ion-content>
