<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tipo Fogo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/004.png" />
    <ion-card-header>
      <ion-card-title>Charmander </ion-card-title>
      <ion-card-subtitle>Nº 0004</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A chama em sua cauda mostra a força de sua força vital. Se Charmander é fraco, a chama também queima fracamente.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/005.png" />
    <ion-card-header>
      <ion-card-title>Charmeleon</ion-card-title>
      <ion-card-subtitle> Nº 0005</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Quando ele balança sua cauda em chamas, a temperatura ao seu redor sobe cada vez mais, atormentando seus oponentes.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/038.png" />
    <ion-card-header>
      <ion-card-title>Ninetales</ion-card-title>
      <ion-card-subtitle> Nº 0038</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Algumas lendas afirmam que cada uma de suas nove caudas tem seu próprio tipo único de poder místico especial.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/037.png" />
    <ion-card-header>
      <ion-card-title>Vulpix </ion-card-title>
      <ion-card-subtitle>Nº 0037</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Se for atacado por um inimigo mais forte do que ele, finge ferimentos para enganar o inimigo e escapa.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/324.png" />
    <ion-card-header>
      <ion-card-title>Torkoal </ion-card-title>
      <ion-card-subtitle>Nº 0324</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ele queima carvão dentro de sua concha para obter energia. Ele sopra fuligem preta se estiver em perigo
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/126.png" />
    <ion-card-header>
      <ion-card-title>Magmar</ion-card-title>
      <ion-card-subtitle> Nº 0126</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Encontrado perto da boca de um vulcão. A temperatura corporal deste cuspidor de fogo é de quase 2.200 graus Fahrenheit.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/467.png" />
    <ion-card-header>
      <ion-card-title>Magmortar </ion-card-title>
      <ion-card-subtitle>Nº 0467</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ao disparar bolas de fogo de 3.600 graus Fahrenheit de seus braços, seu corpo assume uma tonalidade esbranquiçada com o calor intenso.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/059.png" />
    <ion-card-header>
      <ion-card-title>Arcanine </ion-card-title>
      <ion-card-subtitle>Nº 0059</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Um antigo pergaminho de imagem mostra que as pessoas foram cativadas por seu movimento enquanto corria pelas pradarias.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/006.png" />
    <ion-card-header>
      <ion-card-title>Charizard</ion-card-title>
      <ion-card-subtitle>Nº 0006</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Se Charizard ficar realmente irritado, a chama na ponta de sua cauda queima em um tom azul claro.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/058.png" />
    <ion-card-header>
      <ion-card-title>Growlithe</ion-card-title>
      <ion-card-subtitle> Nº 0058</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Tem uma natureza corajosa e confiável. Ele enfrenta destemidamente inimigos maiores e mais fortes.
    </ion-card-content>
  </ion-card>




</ion-content>
