<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tipo Fada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab6</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/700.png" />
    <ion-card-header>
      <ion-card-title>Sylveon</ion-card-title>
      <ion-card-subtitle>Nº 0700</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Sylveon é conhecido por sua incrível gentileza e vínculo com seus treinadores, usando suas antenas para espalhar alegria.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/468.png" />
    <ion-card-header>
      <ion-card-title>Togekiss</ion-card-title>
      <ion-card-subtitle>Nº 0468</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Togekiss é um símbolo de paz e felicidade, frequentemente trazendo esperança e alegria a quem encontra.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/282.png" />
    <ion-card-header>
      <ion-card-title>Gardevoir</ion-card-title>
      <ion-card-subtitle>Nº 0282</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Gardevoir tem uma ligação telepática com seu treinador e é capaz de protegê-lo com poderosas barreiras psíquicas.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/778.png" />
    <ion-card-header>
      <ion-card-title>Mimikyu</ion-card-title>
      <ion-card-subtitle>Nº 0222</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Mimikyu se esconde sob um disfarce de Pikachu para fazer amigos, embora sua verdadeira aparência seja um mistério.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/671.png" />
    <ion-card-header>
      <ion-card-title>Florges</ion-card-title>
      <ion-card-subtitle>Nº 0671</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Florges é conhecido por seu amor pelas flores e por usar seu poder para fazer os jardins mais bonitos do mundo.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/743.png" />
    <ion-card-header>
      <ion-card-title>Ribombee</ion-card-title>
      <ion-card-subtitle>Nº 0743</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Ribombee usa suas habilidades de polinização para espalhar o pó mágico, criando belas flores por onde passa.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/670.png" />
    <ion-card-header>
      <ion-card-title>Floette</ion-card-title>
      <ion-card-subtitle>Nº 0670</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Floette é extremamente protetora com suas flores e pode usar sua energia para curar os Pokémon feridos.
    </ion-card-content>
</ion-card>
 

  
</ion-content>
