<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/025.png" />
    <ion-card-header>
      <ion-card-title>Pikachu</ion-card-title>
      <ion-card-subtitle>Nº 0025</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Pikachu é um dos Pokémon mais famosos do mundo, capaz de gerar eletricidade a partir de suas bochechas.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/026.png" />
    <ion-card-header>
      <ion-card-title>Raichu</ion-card-title>
      <ion-card-subtitle>Nº 0026</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Raichu é a forma evoluída de Pikachu e pode liberar descargas elétricas de alta intensidade em combate.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/107.png" />
    <ion-card-header>
      <ion-card-title>Electrode</ion-card-title>
      <ion-card-subtitle>Nº 0107</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Electrode é um Pokémon que explodem de energia elétrica, sendo capaz de se autodestruir para causar danos massivos.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/125.png" />
    <ion-card-header>
      <ion-card-title>Electrike</ion-card-title>
      <ion-card-subtitle>Nº 0125</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Electrike é rápido como um raio, e suas habilidades elétricas são amplificadas durante tempestades.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/126.png" />
    <ion-card-header>
      <ion-card-title>Magneton</ion-card-title>
      <ion-card-subtitle>Nº 0126</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Magneton é formado por três Magnemites que se fundiram, e pode gerar um poderoso campo magnético ao seu redor.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/180.png" />
    <ion-card-header>
      <ion-card-title>Magnemite</ion-card-title>
      <ion-card-subtitle>Nº 0180</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Magnemite é um Pokémon que flutua devido a sua habilidade de gerar fortes campos magnéticos.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/259.png" />
    <ion-card-header>
      <ion-card-title>Manectric</ion-card-title>
      <ion-card-subtitle>Nº 0259</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Manectric é um Pokémon elétrico veloz, com um poder de ataque devastador, capaz de gerar raios com suas antenas.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/310.png" />
    <ion-card-header>
      <ion-card-title>Plusle</ion-card-title>
      <ion-card-subtitle>Nº 0310</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Plusle é um Pokémon otimista, sempre demonstrando uma energia vibrante que aumenta o ânimo de seus aliados.
    </ion-card-content>
</ion-card>

<ion-card>
    <img alt="Silhouette of mountains" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/full/311.png" />
    <ion-card-header>
      <ion-card-title>Minun</ion-card-title>
      <ion-card-subtitle>Nº 0311</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Minun é o parceiro perfeito de Plusle, criando ondas de energia positiva e elétrica durante as batalhas.
    </ion-card-content>
</ion-card>
  
  




</ion-content>
